@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
  --nasa-blue: #00e5ff;
  --nasa-red: #ff0055;
  --empire-gold: #fbbf24;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

.theme-empire {
  --card-bg: rgba(10, 10, 10, 0.8);
  --card-border: rgba(255, 255, 255, 0.1);
}