api:
  dashboard: true

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-network
  file:
    filename: /etc/traefik/config.yml

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@match-auto.tech
      storage: /etc/traefik/certificates/acme.json
      httpChallenge:
        entryPoint: http
